@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
    --border-color: #e3e5e4;
    --background-color: #c0783d;
    --game-accent-color: #c0783d;
    --highlight-color: #c04c3d;
    --text-color: #34444f;
    --game-background-color: #026d22;
    --ranked-timer-background-color: #bc4200;
    --ranked-text-color: #00afbc;
}

@font-face {
    font-family: Upheaval;
    src: url('fonts/upheaval/upheavtt.ttf');
}

@font-face {
    font-family: Scholar;
    src: url('fonts/scholarly-ambition-font/ScholarlyAmbitionRegular-PKdwB.ttf');
}

* {
    box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Credits to W3 Schools for template: https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Add a black background color to the top navigation */
.navi {
  width: 100%;
  height: 55px;
  background-image: linear-gradient(top, rgba(144, 100, 4, 255), rgba(144, 100, 4, 1));
  overflow: hidden;
  background-image: linear-gradient(-45deg, #0a9d079f, #40ff8cc2, #06bd8dd9, #0dc3dbfc,#063c99);
  box-shadow: 3px 3px 20px #33ff41;
  border-bottom-right-radius: 0px;
  padding: 3px;
}

.navi a {
  float: right;
  color: #132334;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Scholar;
}

.navi a:hover {
  background-color: rgb(181, 164, 89);
  color: rgb(48, 16, 50);
}

.navi a.active {
  background-color: #67130bc8;
  color: rgb(14, 55, 83);
}

#logo {
  padding-left: 30px;
  float: left;
  height: 45px;
}

#mainLinks {
  text-align: right;
}

#menu {
list-style-type: none;
display: inline-flex;
margin: 0px;
}